
body {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

.grid-container {
  width: 35%;
  display: grid;
  gap: 15px 10px;
  grid-template-columns: auto auto;
  border-radius: 5px;
  margin: 3% auto;
  padding: 5% 2%;
  background-color: #fefefe;
  border: 1px solid #888;
}

.grid-item {
  width: 100%;
  display: inline-block;
}
.left{
  text-align: right;
  margin:  10px 2px;
}
.grid-item p{
  font-style: italic;
  font-size: 70%;
  margin-top: 0;
}

/* Full-width input fields */
input[type=text], input[type=number], select{
  width: 100%;
  border: 1px solid #ccc;
  padding:  10px 0px;
}

input[type=text]:focus, input[type=number]:focus {
  
}


/* Set a style for all buttons */
button {
  background-color: #3385ff;
  color: white;
  padding:  12px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  float: center;
  text-align: center;

}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 50%;
  margin:  12px 2px;
}

/* Float cancel and signup buttons and add an equal width */
 .createbtn {
  width: 30%;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .grid-container{
    width: 65%;
  }
}

@media screen and (max-width: 600px) and (min-width: 300px){
  .grid-item, .cancelbtn, .createbtn{
     width: 100%;
   }
   .left{
      text-align: left;
   }
   .grid-container{
       width: 90%;
       margin-top: 0;
       gap: 1px;
       grid-template-columns: auto;
   } 
}

@media screen and (max-width: 300px)  {
  .grid-container{
    width: 100%;
  }
}
